.self-portrait {
	float: left;
	padding-right: 20px;
}

#letter {
	font-size: 48px;
	color: #CCCCFF;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

#headshot {
	height: 350px;
	width: 200px;
}