<div class="about">
	<div class="self-portrait">
		<img id="headshot" src="../assets/images/headshot.jpg" />
	</div>
	<div class="autobiography">
		<p><span id="letter">Hi</span> my name is <strong>Behnam</strong> <em>(Ben)</em> <strong>Nikkhah</strong>.</p>
		<p>I was born in <em>Tehran, Iran</em> and currently reside in <em>Calgary, Alberta, Canada</em>.</p>
		<p>I started developing websites to get into the website development industry. I have gained a lot of valuable experience both from front and back-end certification classes and personal experience working with the latest Javascript frameworks. Some examples of Javascript frameworks that I've used extensively include the following:
		</p>
		<ul>
			<li>Angular 4</li>
			<li>ReactJS</li>
			<li>ExpressJS</li>
		</ul>
		<hr>
		<p>Currently, I have completed <strong>three</strong> <a href="https://www.codecademy.com/" target="_blank"><em>Codecademy</em></a> intensive courses in the following disciplines:</p>
		<ul>
			<li><a target="_blank" href="https://www.credential.net/hya7zfve">Build Websites from Scratch</a></li>
			<li>Build Front-End Applications <em class="light-gray-text">Pending certification</em></li>
			<li>Build Back-End APIs <em class="light-gray-text">Pending certification</em></li>
		</ul>
		<hr>
		<p>Great thanks to <a target="_blank" href="https://github.com/YannickFricke">Yannick Fricke</a> for being a great <em>mentor</em> in my website development journey! There were a lot of moments I thought something was impossible, but Yannick proved me otherwise. Thanks Yannick for being such an amazing friend!</p>
	</div>
</div>