<!--The content below is only a placeholder and can be replaced.-->

<nav>
	<a class="button" routerLink="/projects" routerLinkActive="active">Projects</a>
	<a class="button" routerLink="/about" routerLinkActive="active">About</a>
    <ul class="social-media">
      <li><a href="https://www.linkedin.com/in/bnikkhah/" target="_blank"><img src="./assets/images/in.png" alt="LinkedIn" title="LinkedIn" /></a></li>
      <li><a href="https://github.com/bnikkhah" target="_blank"><img src="./assets/images/git.png" alt="GitHub" title="GitHub" /></a></li>
      <li><a href="mailto:bnikkhah22@gmail.com"><img src="./assets/images/gmail.png" alt="Gmail" title="Gmail" /></a></li>
    </ul>
</nav>
<router-outlet></router-outlet>