/* You can add global styles to this file, and also import other style files */

body {
	color: #7e7e7e;
	background-image: url('./assets/images/nature-bg.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.light-blue {
	background: #ADD8E6;
}

.white {
	background: #fff;
}

.white-transparent {
	background: rgba(255, 255, 255, 0.7);
}

.light-gray-text {
	color: #939393;
}

.blur {
	filter: blur(5px);
	width: 100%;
	height: 100%;
	position: absolute;
}

.container {
	height: 100vh;
	border-radius: 5px;
	padding: 20px;
	overflow-y: auto;
}

.button {
	border-radius: 0;
	border-color: #ADD8E6;
	color: #555;
	position: relative;
	transition: all 200ms ease-in-out;
}

.button:hover {
	color: #fff;
	background: #ADD8E6;
	border-color: #FFF;
}

.button:active {
	top: 1px;
	left: 1px;
}

#made-with {
	position: absolute;
	bottom: 5px;
	right: 5px;
	cursor: default;
}

#made-with img {
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

/* Footer */

/*.footer{
	position:absolute;
	bottom:0;
	left:0;
}

.footer ul{
	margin:0;
	margin-left:10px;
}

.footer li{
	display:inline;
	margin-right:5px;
}

.footer img{
	width:24px;
	height:24px;
	opacity:0.5;
	box-shadow:none;
	border-radius:50%;
	transition:box-shadow 200ms ease;
	cursor: pointer;
}

.footer img:hover{
	opacity:1;
	box-shadow:0px 0px 5px #b9c1f9;
}*/

.custom-scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.custom-scrollbar::-webkit-scrollbar
{
	width: 3px;
	background-color: #F5F5F5;
}

.custom-scrollbar::-webkit-scrollbar-thumb
{
	background-color: #EAEAEA;
}